@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-custom {
    @apply drop-shadow-custom;
  }
}

* {
  padding    : 0;
  margin     : 0;
  user-select: none;
}

body {
  box-sizing      : border-box;
  min-height      : 100vh;
  background-color: #E4B7A0;
}

#root {
  min-height: 100vh;
  padding   : 10px 20px;
}

/* .section {
  height: calc(100vh - 156px);
} */

.long-arrow-right,
.long-arrow-left,
.long-arrow-left-2 {
  display    : block;
  margin     : 30px auto;
  width      : 25px;
  height     : 25px;
  border-top : 4px solid #F6EEE0;
  border-left: 4px solid #F6EEE0;
}


.long-arrow-right {
  transform: rotate(180deg);
}

.long-arrow-left {
  transform: rotate(-45deg);
}

.long-arrow-left-2 {
  transform: rotate(90deg);
}

.long-arrow-right::after,
.long-arrow-left::after,
.long-arrow-left-2::after {
  content         : "";
  display         : block;
  width           : 4px;
  height          : 45px;
  background-color: #F6EEE0;
  transform       : rotate(-45deg) translate(15px, 4px);
  left            : 0;
  top             : 0;
}